<div class="flexContainer">
  {{#if isAdmin}}
    <a href="/views/adminPanel">Administrar</a>
  {{else}}
    <a href="/views/carts/{{user.cart}}">Ver Carrito</a>
    <a href="/views/messages">Ir al chat</a>
    <a class="linksTo" href="/views/clientArea">Área Personal</a>
  {{/if}}
  <a href="/api/auth/logout">Logout</a>
</div>
<div class="productContainer">
  {{#if isAdmin}}
    <p><strong>Administrador</strong></p>
  {{else}}
    <p>Hola
      <strong>{{user.fullName}}</strong>
      <small>(role: {{user.role}})</small></p>
    <br />
  {{/if}}
  {{#if render}}
    <h1>Productos</h1>
    <div class="cardContainer">
      {{#each payload}}
        <div class="card">
          <h4>{{title}}</h4>
          <p>${{price}}</p>
          <a class="links" href="/views/products/{{id}}">Detalle</a>
        </div>
      {{/each}}
    </div>
    <div class="paginate">
      {{#if hasPrevPage}}
        <a href={{prevLink}}>&lt&lt Anterior</a>
      {{/if}}
      {{#if hasNextPage}}
        <a href={{nextLink}}>Siguiente >></a>
      {{/if}}
    </div>
  {{else}}
    <h2>Error 404: El recurso al que intenta acceder no existe</h2>
    <div class="linkError">
      <a href="/views/products">Home</a>
    </div>
  {{/if}}
</div>